body {
            background-color: #111d4a;
        }

        h1 {
            color: #45f0df;
        }

        p {
            color: #8789c0;
        }

        h2 {
            color: #8789c0;

        }

        ul:first-of-type {
            list-style-type: lower-roman;
            color: #c2cae8;
            font-size: medium;
            margin-left: auto;


        }

        ul {
            list-style-type: none;
            color: #c2cae8;
            font-size: medium;
            margin-left: -40px;


        }

       h3 {
        color: #8789c0;
       }

        

        h1 {
            text-align: center;
        }

        footer {
            text-align: center;
        }