<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3255.955094543494!2d-80.73735268438385!3d35.30709725800595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88541c1ad0a92357%3A0x6b3f67f7f19324f3!2sUniversity%20of%20North%20Carolina%20at%20Charlotte!5e0!3m2!1sen!2sus!4v1631909837852!5m2!1sen!2sus"
width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


<p>
Property of Mighty Elusive Merlin, Ltd. 2021
</p>


<a style="font-size: 20px; color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"  href="https://validator.w3.org/check?uri=referer">Validate HTML
<img src="http://www.w3.org/Icons/valid-xhtml10" width="88" height="31" alt="Link to HTML validator"></a>

<a   style="font-size: 20px; color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" href="https://validator.w3.org/check?uri=referer"> Validate CSS
<img src="https://jigsaw.w3.org/css-validator/images/vcss" width="88" height="31" alt="Link to CSS validator">
</a>

