<h1>
    Mighty Elusive Merlin, Ltd.
    <img width="100" src="images/wizard.gif" alt="Merlin looking menacingly">
    <!--Image Link: https://i.pinimg.com/originals/74/f5/2b/74f52b063be38cc307a75573d414e23d.gif -->
</h1>

<style type="text/css" media="screen">
    a:link { color:white; text-decoration: none; }
    a:visited { color:white; text-decoration: none; }
    a:hover { color:white; text-decoration: none; }
    a:active { color:white; text-decoration: underline; }
    </style>

<nav style="color: white">
    <a href="index.html">Home</a>
    ||
    <a href="contact.html">Contact</a>
    ||
    <a href="about.html">About</a>
</nav>